* {
    box-sizing: border-box;
    }
    
  body {
  height: 100vh;
  width: auto;
  margin: 0;
  padding: 0;
  font-family: Helvetica;

  }

  #imgContainer {
  background: url("./pictures/samuel-zeller-aJZmJeam9O0-unsplash.jpg") no-repeat scroll 50% 50%;
  background-size: 1440px;
  background-position: bottom;
  background-color: #4ddcc83d;
  background-blend-mode: overlay;
  }
  
  #logo {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 112px;
  text-align: center;
  color: #000000;
  }


#headerContainer {
  display: flex;
  flex-flow: column nowrap;
	align-items: center;
	padding: 0;
}

#headerContainer > h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: bolder;
  font-weight: 800;
  font-size: 70px;
  line-height: 98px;
  text-align: center;
  margin-top: 100px;
}

#headerContainer > p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 30px;
  line-height: 33px;
  margin-top: -40px;
  margin-bottom: 250px;
  text-align: center;
  color: #17111B;  
}

#lowerHeader {
  display: flex;
  background: #b9cbcdd1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#meImg {
  position: relative;
	margin-top: -140px;
	margin-bottom: 50px;
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
  filter: brightness(150%)
}

#lowerHeader > h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 35px;
  line-height: 65px;
  text-align: center;
  color: #121016;
  margin-bottom: -90px;
}

#lowerHeader > h6 {
  margin-top: -10px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #121016;
}
  
#about {
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}


 .icons {
	list-style: none;
	padding: 0;
  display: flex;
	justify-content: center;
	align-content: space-around;
}

.icon {
	justify-content: space-around;
	font-size: 45px;
	padding: 25px;
}

.proIcons {
	list-style: none;
	padding: 0;
	display: flex;
  justify-content: center;
  align-items: center;
}

.proIcon {
	padding: 10px;
  display: flex;
  font-size: 60px;
}

#portfolioWhiteSpace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40vmin;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 70px;
  text-align: center;
	color: #121016;
}

#portBorder {
  border-top: 1px solid black;
	border-bottom: 1px solid black;
}

 .projectContainer {
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
	align-items: center;
	padding: 1em;
	width: 100%;
 }

 .discContainer {
	width: 70vmin;
 }

 .discContainer > p {
	 text-align: center;
 }
  
 .projImg > img {
	box-shadow: 10px 10px 10px #ABB2B9;
	margin-bottom: 1em;
	height: 50vmin;
	width: 60vmin;
	border: solid black;
 }



